In [10]:
import pyodbc
import pandas as pd

In [11]:
def create_db_conn():
    global conn
    conn = pyodbc.connect('Driver={SQL Server};'
                        'Server=DESKTOP-INR29OP;'
                        'Database=healthdata;'
                        'Trusted_Connection=yes;')
    global cursor
    cursor = conn.cursor()

In [12]:
def get_data():
    data = pd.read_sql_query('select * from data_clean', conn)
    return data

In [13]:
def run_query(str):
    return cursor.execute(str)

In [14]:
create_db_conn()

In [15]:
df = get_data()
df.head()

,Facility_Name,State,Measure_Name,Number_of_Discharges,Predicted_Readmission_Rate,Expected_Readmission_Rate,Number_of_Readmissions,id,act_readmission_rate
0,JACKSON HOSPITAL & CLINIC INC,AL,pneumonia,471,18.4574,16.6135,94,1,0.199575
1,EAST ALABAMA MEDICAL CENTER,AL,hip-knee,719,4.9824,3.9966,40,2,0.055633
2,EAST ALABAMA MEDICAL CENTER,AL,ca-bypass-graft,-1,9.8950,12.3506,-1,3,1.000000
3,EAST ALABAMA MEDICAL CENTER,AL,chr-obs-pulmonary,477,17.2980,19.1144,75,4,0.157233
4,EAST ALABAMA MEDICAL CENTER,AL,heart-attack,253,14.9868,14.7083,39,5,0.154150

In [31]:
result = run_query('''
select distinct Facility_Name from data_clean
''')

i = 0
for row in result:
    print(row[0])
    if(i>10):
        break
    i+=1

HARRISBURG MEDICAL CENTER
PARKLAND MEDICAL CENTER
PROVIDENCE LITTLE COMPANY OF MARY MED CTR TORRANCE
MCLEOD LORIS  HOSPITAL
WINCHESTER MEDICAL CENTER
BAYLOR SCOTT & WHITE MEDICAL CENTER - MARBLE FALLS
PHOEBE SUMTER MEDICAL CENTER
FRANKLIN MEDICAL CENTER
FIVE RIVERS MEDICAL CENTER
NORTHSIDE HOSPITAL FORSYTH
SANTA MONICA - UCLA MED CTR & ORTHOPAEDIC HOSPITAL
MERCY HOSPITAL SPRINGFIELD